div.navbar {
	width:150px;
	height:530px;
	display:none;
	background-color:rgba(125,125,225,0.25);
    float:left;
}

div.sect1, div.sect2, div.sect3 {
	float: right;
	padding-bottom: 10px;
	display:none;
	width:1040px;
	margin-bottom: 10px;
}
div.sect1 {
	height:200px;
	background-color:rgba(125,125,225,0.25);

}
div.sect2 {
	height:800px;
	background-color:rgba(75,75,225,0.25);
}
div.sect3 {
	height:400px;
	background-color:rgba(25,25,225,0.25);
}

body {
	margin-left:40px;
	margin-right:40px;
	font-family: 'cursive';
	background-color:rgba(255,250,205,0.5);

}

h1 {
	padding-top:0px;
	padding-left:40px;
}

h2{
	font-size:20px;
	padding-top:0px;
	padding-left:20px;
	text-decoration: underline;
}

p {
	font-size:12px;
	padding-top:0px;
	padding-left:20px;
	padding-bottom:0px;
}

h3,h4 {
	font-size:18px;
	padding-left:20px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: white;

}

div.s1 {
	padding: 40px;
	text-align: center;
}

.tablink {
    background-color: rgb(230,230,190);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-bottom: 10px;
}

.tablink:hover {
    background-color: #777;

}

/* Style the tab content */
.tabcontent {
	border-style: solid;
	min-height: 200px;
	max-height: 200px;
	margin-top:0px;
	float: right;
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    width:91.15%;
    margin-bottom: -50px;
}

#London {
	background-image: url('cake1.jpg');
	background-size: 1200px 1200px;
	background-repeat: no-repeat;

	border-color:#FFC8C8;}
#Paris {border-color:#C8FFC8;}
#Tokyo {border-color:#E1C8FF;}
#Oslo {border-color:#CCFFFF;}
